.root {
  color: var(--mantine-color-black);
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 8px;
  &:hover {
    color: var(--mantine-color-purple-4);
  }
  &:active {
    background-color: var(--mantine-color-purple-2);
    color: var(--mantine-color-purple-5);
    font-weight: 700;
    border-radius: 8;
  }
  transition: background-color 0.2s ease-out;
}

.active {
  background-color: var(--mantine-color-purple-2);
  color: var(--mantine-color-purple-5);
  font-weight: 700;
  border-radius: 8;
}