.container {
  row-gap: 24px;
  column-gap: 16px;
  flex-wrap: wrap;
  align-items: flex-end;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.rating {
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}